.list {
	background-color: #100e1d;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: white;
	padding: 8rem 2rem 0 2rem;
	justify-items: center;
	gap: 1.5rem;
}

@media only screen and (min-width: 768px) {
	.list {
		display: flex;
		justify-content: space-around;
	}
}
