.nav {
	z-index: 100;
	background-color: #1e213a;
	width: calc(100vw - 1rem);
	min-height: 100vh;
	position: fixed;
	padding: 4rem 1rem 0 1rem;
	animation: slide 300ms ease-out;
}

.icon {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.icon:hover {
	cursor: pointer;
}

@media (min-width: 768px) {
	.nav {
		width: 33%;
	}
}

@keyframes slide {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}
